@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

h1 {
  @apply font-bold;
}

.logo {
  font-weight: bold;
}

.nav-link {
  margin-right: 1rem;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-link.active {
  text-decoration: underline;
}

.form {
  width: 100%;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  @apply border border-gray-400 rounded p-4;
}

.link {
  @apply text-blue-600 underline;
}

.form-row {
  @apply pb-3;
}
